*{
    margin: 0;
    padding: 0;
}
.nav-bar{
    background-color: yellow;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.section-input{
    margin: 2rem;
}

.container h1{
    margin-bottom: 1rem;
}

.container .text-input{
    display: block;
    width: 90%;
    border-radius: 1rem;
    padding: 1rem;
}

.btn{
    margin-top: 1rem;
    padding: .5rem;
    border-radius: 1rem;
    color: white;
    background-color: yellow;
    border: 2px solid yellow;
}